* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(238, 238, 238);
    padding-top: 50px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: rgb(245, 90, 90);
    color: white;
    box-shadow: 0 0 10px rgb(180, 180, 180);
    border-radius: 5px;
    border: solid 3px rgb(245, 90, 90);
    border: none;
    cursor: pointer;
    transition: all ease-out .1s;
}
    
button:hover {
    background-color: transparent;
    color: rgb(245, 90, 90);
    border: solid 3px rgb(245, 90, 90);
    box-shadow: 0 0 10px rgb(245, 90, 90);
}